ul {
  list-style: none;
}

/* HEADER */

.page-heading {
  text-align: center;
  font-size: 1.4em;
  text-transform: uppercase;
}

/* MAIN */

.main-wrapper {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
/* MAIN FORM */

.contact-form--btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.contact-form--comment {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* MAIN SECTION */

.github-image {
  width: 10%;
  border-radius: 50%;
}











