
/* Fonts */

/* moved to m-nav.css
nav {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
} */

/* moved into typography in base.css
h1, h2, p {
font-family: 'Indie Flower', cursive;
} */



